<div>
  <h2>Create a Client</h2>
  <form>
    <label
      >Cpf:
      <input placeholder="cpf" />
    </label>
    <label
      >Name:
      <input placeholder="name" />
    </label>
    <label
      >Sexo:
      <input placeholder="sexo" />
    </label>
    <label
      >Date:
      <input placeholder="date" />
    </label>
    <label
      >Email:
      <input placeholder="email" />
    </label>
    <label
      >Phone:
      <input placeholder="phone" />
    </label>
    <button>Create Client</button>
  </form>
</div>
